[submodule "data-engineering/feature-engineering-course/feature-engineering-for-machine-learning"]
	path = data-engineering/feature-engineering-course/feature-engineering-for-machine-learning
	url = https://github.com/Elkinmt19/feature-engineering-for-machine-learning.git
