[submodule "data-engineering/feature-engineering-course/feature-engineering-for-machine-learning"]
	path = data-engineering/feature-engineering-course/feature-engineering-for-machine-learning
	url = https://github.com/Elkinmt19/feature-engineering-for-machine-learning.git
[submodule "inference-statistics/inference-statistics-course/estadistica-inferencial"]
	path = inference-statistics/inference-statistics-course/estadistica-inferencial
	url = https://github.com/Elkinmt19/estadistica-inferencial.git
