[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
category-encoders = "*"
feature-engine = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.8"
