[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
category-encoders = "*"
feature-engine = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
statsmodels = "*"
ipykernel = "*"
feature-engineering-course = {editable = true, path = "."}
matplotlib = "*"
seaborn = "*"
yellowbrick = "*"

[dev-packages]

[requires]
python_version = "3.8"
